.listar-noticias-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  max-width: 800px; /* Defina o valor desejado para limitar a largura */
  margin: 0 auto; /* Isso centralizará a lista na tela */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.mensagem-vazia {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.noticia-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.noticia-item h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.noticia-item p {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.alterar-btn,
.excluir-btn,
.adicionar-noticia-btn {
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 3px;
}

.alterar-btn {
  background-color: #007bff;
  color: #fff;
}

.excluir-btn {
  background-color: #dc3545;
  color: #fff;
}

.adicionar-noticia-btn {
  background-color: #28a745;
  color: #fff;
}

.alterar-btn:hover,
.excluir-btn:hover,
.adicionar-noticia-btn:hover {
  opacity: 0.8;
}
