<c-carousel [interval]="0">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <div class="carousel-wrap">
        <div class="controles">
          <c-carousel-control [routerLink] caption="Previous" direction="prev">
            <img class="icones" src="../../../../assets/icons/seta-esquerda.svg" alt="">
          </c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next">
            <img class="icones" src="../../../../assets/icons/seta-direita.svg" alt="">
          </c-carousel-control>
        </div>
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-full"
          loading="lazy"
        />
      </div>
    </c-carousel-item>
  </c-carousel-inner>
</c-carousel>