<div class="criar-noticia-container">
  <h2>Criar Notícia</h2>

  <form [formGroup]="novaNoticiaForm" (ngSubmit)="criarNoticia()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" formControlName="title" id="title">
    </div>

    <div class="form-group">
      <label for="subtitle">Subtítulo:</label>
      <input type="text" formControlName="subtitle" id="subtitle">
    </div>

    <div class="form-group">
      <label for="content">Conteúdo:</label>
      <textarea formControlName="content" id="content" rows="8"></textarea>
    </div>

    <div class="form-group">
      <label for="visibility">Visibilidade:</label>
      <select formControlName="visibility" id="visibility">
        <option value="visible">Visible</option>
        <option value="draft">Draft</option>
        <option value="invisible">Invisible</option>
      </select>
    </div>

    <button type="button" class="btn-voltar" (click)="voltar()">Voltar</button>
    <button type="submit" [disabled]="novaNoticiaForm.invalid" class="btn-salvar">Salvar Notícia</button>
  </form>
</div>