.navbar{
  display: flex;
  align-items: center;
  background-color: #0099CB;
  color:#fff
}

.navbar .logo{
  max-width: 12%;
  margin-left: 8rem;
}

.navbar .login{
  justify-content: end;
}

.navbar a{
  margin-left: 50px;
}