<body class="body">
  <h1 class="titulo" >NOSSOS PROJETOS</h1>
  
  <app-card-datails 
    title="Nome do projeto" 
    desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    a type specimen book. dummy text of the printing and typesetting industry.  
    a type specimen book. dummy text of the printing and typesetting industry.">
  </app-card-datails>
  <app-card-datails 
    title="Nome do projeto" 
    desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    a type specimen book. dummy text of the printing and typesetting industry.  
    a type specimen book. dummy text of the printing and typesetting industry.">
  </app-card-datails>
  <app-card-datails 
    title="Nome do projeto" 
    desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    a type specimen book. dummy text of the printing and typesetting industry.  
    a type specimen book. dummy text of the printing and typesetting industry.">
  </app-card-datails>
  <app-card-datails 
    title="Nome do projeto" 
    desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    a type specimen book. dummy text of the printing and typesetting industry.  
    a type specimen book. dummy text of the printing and typesetting industry.">
  </app-card-datails>

</body>
<app-footer></app-footer>