<div
    class="w-full h-full flex justify-center items-center m-4">
    <main
    class="w-9/12 bg-azul-10 rounded-2xl borda-opaca-md center flex-col">
        <h1 class="center m-4"><strong>Cadastrar usuário do sistema</strong></h1>
        <form
            [formGroup]="formClient"
            class="center flex-col w-full">

            <div class="custom-file-input">
                <label
                    class="center flex-col"
                    for="file-upload">
                    <img
                        class="cursor-pointer w-36"
                        [src]="imagem" 
                        alt="Icone para adicionar usuário">
                    <span class="m2">{{ nomeArquivo }}</span>
                </label>

                <input
                    formControlName="foto"
                    class="opacity-0"
                    (change)="checkArquivo($event)"
                    type="file" 
                    id="file-upload">
            </div>

            <input
                formControlName="name"
                class="inputs icon-usuario input"
                type="text"
                placeholder="Nome completo">

            <input
                formControlName="email"
                class="inputs icon-email input" 
                type="text"
                placeholder="E-mail">

            <input
                formControlName="linkedin"
                class="inputs icon-linkedin input" 
                type="text"
                placeholder="Linkedin">

            <input
                formControlName="github"
                class="inputs icon-github input" 
                type="text"
                placeholder="Github">

            <input
                formControlName="password"
                class="inputs icon-senha input" 
                type="password"
                placeholder="Senha">

            <input
                formControlName="password_confirmation"
                class="inputs icon-senha input" 
                type="password"
                placeholder="Repetir a senha">

            <select
                formControlName="academic_bond_id"
                class="input">
                <option value="0">Selecione o tipo de vinculo</option>
                <option 
                    *ngFor="let vinculo of vinculos"
                    [value]="vinculo.id">
                    {{ vinculo.bond_kind }}
                </option>
            </select>
        </form>

        <button 
            class="botaoCad botao-azul m-2"
            (click)="gravar()"
            >Cadastrar</button>

        <p *ngFor="let erro of erros"> {{ erro }} </p>
    </main>

</div>