<div
    class="w-full h-full flex justify-center items-center m-4">
    <main
    class="w-9/12 bg-azul-10 rounded-2xl borda-opaca-md center flex-col">
        <h1 class="center m-4"><strong>Cadastrar usuário do sistema</strong></h1>
        <form
            class="center flex-col w-full">

            <div class="custom-file-input">
                <label
                    class="center flex-col"
                    for="file-upload">
                    <img
                        class="cursor-pointer w-36"
                        [src]="imagem" 
                        alt="Icone para adicionar usuário">
                    <span class="m2">{{ nomeArquivo }}</span>
                </label>

                <input
                    class="opacity-0"
                    (change)="checkArquivo($event)"
                    type="file" 
                    id="file-upload">
            </div>

            <input
                class="icon-usuario input"
                type="text"
                placeholder="Nome completo">

            <input
                class="icon-email input" 
                type="text"
                placeholder="E-mail">

            <input
                class="icon-linkedin input" 
                type="text"
                placeholder="Linkedin">

            <input
                class="icon-github input" 
                type="text"
                placeholder="Github">

            <input
                class="icon-senha input" 
                type="password"
                placeholder="Senha">

            <input
                class="icon-senha input" 
                type="password"
                placeholder="Repetir a senha">

            <select
                class="input">
                <option>1</option>
                <option>2</option>
            </select>
        </form>

        <button 
            class="botao-azul m-2"
            >Concluir</button>
    </main>

</div>