<div
    class="w-full h-full flex justify-center items-center m-4">
    <main
    class="w-9/12 bg-azul-10 rounded-2xl borda-opaca-md center flex-col">
        <h1 class="center m-4"><strong>Cadastrar usuário do sistema</strong></h1>
        <form
            class="center flex-col w-full">

            <img src="../../../../../assets/icons/add-user.svg" alt="Icone para adicionar usuário">

            <input
                class="input" 
                type="text"
                placeholder="Nome completo">

            <input
                class="input" 
                type="text"
                placeholder="E-mail">

            <input
                class="input" 
                type="text"
                placeholder="Linkedin">

            <input
                class="input" 
                type="text"
                placeholder="Github">

            <input
                class="input" 
                type="password"
                placeholder="Senha">

            <input
                class="input" 
                type="password"
                placeholder="Repetir a senha">

            <select
                class="input">
                <option>1</option>
                <option>2</option>
            </select>
        </form>

        <button 
            class="botao-azul m-2"
            >Concluir</button>
    </main>

</div>