
<div class="projetos-container">
  <h2>Cadastrar novo projeto</h2>

  <form [formGroup]="projetoForm" class="center flex-col w-full">

    <div class="custom-file-input">
      <label class="center flex-col" for="file-upload">
        <img class="cursor-pointer w-36" [src]="imagem" alt="Icone para adicionar usuário">
        <span class="m2">{{ nomeArquivo }}</span>
      </label>

      <input formControlName="foto" class="opacity-0" (change)="checkArquivo($event)" type="file" id="file-upload">
    </div>

    <input formControlName="name" class="inputs icon-engrenagem input" type="text" placeholder="Nome do projeto">
    <input formControlName="description" class="inputs icon-engrenagem input" type="text"
      placeholder="Descrição do projeto">
    <input formControlName="start_date" class="inputs icon-calendario input" type="date" placeholder="Data de início">
    <input formControlName="end_date" class="inputs icon-calendario input" type="date" placeholder="Data de término">


    <select formControlName="coordinator_id" class="input">
      <option [ngValue]="null">Selecione o coordenador</option>
      <option *ngFor="let user of users" [ngValue]="user.id">
        {{ user.email }}
      </option>
    </select>

    <div class="projeto-container">
      <h2>Adicionar Membros ao Projeto</h2>
      <div class="user-list">
        <div class="user-list">
          <div *ngFor="let user of users" [class.selected]="isSelected(user.id)" (click)="adicionarMembros(user.id)">
            <span>{{ user.name }}</span>
            <select name="roles" class="input w-full ml-0" formControlName="{{ 'role_' + user.id }}">
              <option value="0">Selecione a função do usuário</option>
              <option *ngFor="let role of roles" [value]="role.id">{{ role.role_kind }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="botoes">
      <button class="botao-vermelho m-2" (click)="voltar()">Voltar</button>
      <button class="botao-verde m-2" (click)="gravar()">Salvar</button>
    </div>
  </form>
</div>