<div class="page">
  <div class="projeto-span">
    <span>PROJETO</span>
  </div>

  <div class="projeto">
    <div class="img-wrapper">
      <img src="../../../../assets/image-card.png" alt="" />
    </div>
    <div class="projeto-wrapper">
      <h1>Nome do Projeto</h1>
      <h2>Jan/2023 - Dez/2023</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita magni
        architecto accusamus praesentium culpa molestiae vel inventore hic
        laudantium adipisci illum commodi sint, veniam saepe, accusantium officiis
        aspernatur dolorem minus?
      </p>
    </div>
  </div>

  <div class="membros-span">
    <span>MEMBROS DO PROJETO</span>
  </div>
  <app-card-carrossel title="Nome do Membro"></app-card-carrossel>

</div>

<app-footer></app-footer>