<div class="center mt-8 mb-8">
    <h1 class="titulo">SEÇÃO ADMINISTRATIVA</h1>
</div>

<nav class="center">
    <div class="w-9/12 max-sm:w-full container">
        <div class="flex flex-row justify-evenly max-sm:flex-col">
            <app-card 
                img="../../../../assets/icons/engrenagens.svg" 
                name="Projetos"
                (click)="abrirModal(0)"></app-card>
            
            <app-card 
                img="../../../../assets/icons/user.svg" 
                name="Usuários"
                (click)="abrirModal(1)"></app-card>
            
            <app-card 
                img="../../../../assets/icons/noticia.svg" 
                name="Notícias"
                (click)="abrirModal(2)"></app-card>
        </div>

        <div class="flex flex-row justify-evenly max-sm:flex-col">
            <app-card 
                img="../../../../assets/icons/contatos.svg" 
                name="Contatos"></app-card>

            <app-card 
                img="../../../../assets/icons/sobre-nos.svg" 
                name="Sobre nós"></app-card>
        </div>    
    </div>    

</nav>