<body class="body">
  <h1 class="titulo">CONTATOS</h1>
  <div class="container">
    <div class="detalhes">
      <div class="column">
        <div class="campo">
          <img src="../../../../assets/icons-contatos/computador.svg" />
          <span class="detalhes-titulo">Nome: </span>
          <span class="text"> Ledes</span>
        </div>

        <div class="campo">
          <img src="../../../../assets/icons-contatos/email.svg" />
          <span class="detalhes-titulo">Email: </span>
          <span> ledes </span>
        </div>
      </div>

      <div class="column">
        <div class="campo">
          <img src="../../../../assets/icons-contatos/localizacao.svg" />
          <span class="detalhes-titulo">Endereço: </span>
          <span>Facom</span>
        </div>

        <div class="campo">
          <img src="../../../../assets/icons-contatos/telefone.svg" />
          <span class="detalhes-titulo">Fone: </span>
          <span> (67)9 9999-9999</span>
        </div>
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <img src="../../../../assets/icons-contatos/calendario.svg" />
        <span class="detalhes-titulo"> Horário de funcionamento: </span>
        <span>07:30 - 17:30</span>
      </div>
    </div>
  </div>

  <h1 class="titulo">LOCALIZAÇÃO</h1>
  <div class="maps" id="mapa"></div>
</body>
<app-footer></app-footer>
