<h1 class="titulo">CONTATOS</h1>
<div class="container">
  <div class="detalhes">
    <img src="../../../../assets/icons-contatos/computador.svg">
    <span class="detelhes-titulo">Nome: </span>
    <span> Ledes</span>
  </div>

  <div class="detalhes">
    <img src="../../../../assets/icons-contatos/email.svg">
    <span class="detelhes-titulo">Email: </span>
    <span> ledes@ufms.br</span>
  </div>

  <div class="detalhes">
    <img src="../../../../assets/icons-contatos/calendario.svg">
    <span class="detelhes-titulo"> Horário de funcionamento: </span>
    <span>07:30 - 17:30</span>
  </div>
</div>
<h1 class="titulo">LOCALIZAÇÃO</h1>