<app-carrossel></app-carrossel>
<h1 class="titulo" >NOSSOS PROJETOS</h1>
<app-card-carrossel title="Nome do Projeto"></app-card-carrossel>
<h1 class="titulo" >CONHEÇA O LEDES</h1>
<nav class="center">
  <div class="w-9/12 max-sm:w-full container">
      <div class="flex flex-row justify-evenly max-sm:flex-col">
          <app-card 
            img="../../../../assets/icons/engrenagens.svg" 
            name="Projetos"
            routerLink="/lista-projetos">
          </app-card>
          
          <app-card 
            img="../../../../assets/icons/sobre-nos.svg" 
            name="Sobre nós"
            routerLink="/sobrenos">
          </app-card>
          
          <app-card 
              img="../../../../assets/icons/users.svg" 
              name="Membros"
              routerLink="/membros">
          </app-card>
      </div>

      <div class="flex flex-row justify-evenly max-sm:flex-col">
        <app-card 
          img="../../../../assets/icons/noticia.svg" 
          name="Notícias"
          routerLink="/lista-noticias">
        </app-card>

        <app-card 
          img="../../../../assets/icons/contatos.svg" 
          name="Contatos"
          routerLink="/contatos">
        </app-card>
      </div>    
  </div>    
</nav>
<app-footer></app-footer>
