.container{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
} 
.titulo{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  justify-content: center;
  margin-top: 4rem;
}