<div class="projetos-container">
  <h2>Cadastrar novo projeto</h2>

  <form [formGroup]="novoProjetoForm" class="center flex-col w-full">

    <div class="custom-file-input">
      <label class="center flex-col" for="file-upload">
        <img class="cursor-pointer w-36" [src]="imagem" alt="Icone para adicionar usuário">
        <span class="m2">{{ nomeArquivo }}</span>
      </label>

      <input formControlName="foto" class="opacity-0" (change)="checkArquivo($event)" type="file" id="file-upload">
    </div>

    <input formControlName="name" class="inputs icon-engrenagem input" type="text" placeholder="Nome do projeto">
    <input formControlName="description" class="inputs icon-engrenagem input" type="text"
      placeholder="Descrição do projeto">
    <input formControlName="start_date" class="inputs icon-calendario input" type="date" placeholder="Data de início">
    <input formControlName="end_date" class="inputs icon-calendario input" type="date" placeholder="Data de término">
    <!-- 
            <select
                class="input">
                <option>Selecione o status do projeto</option>
                <option>2</option>
            </select>
            -->

    <select formControlName="coordinator_id" class="input">
      <option [ngValue]="null">Selecione o coordenador</option>
      <option *ngFor="let user of users" [ngValue]="user.id">
        {{ user.email }}
      </option>
    </select>

    <div class="botoes">
      <button class="botaoCad botao-azul m-2" (click)="adicionarMembros()">Adicionar membros</button>
      <button class="botao-vermelho m-2" (click)="voltar()">Voltar</button>
      <button class="botao-verde m-2" (click)="gravar()">Salvar</button>
    </div>
