<div class="listar-usuarios-container">
  <h2>Listagem de Usuários</h2>

  <div *ngFor="let usuario of usuarios" class="usuario-item">
    <p>{{ usuario.nome }} - {{ usuario.email }}</p>
    <button (click)="redirecionarParaAlteracao(usuario.id)" class="alterar-btn">Alterar</button>
    <button (click)="redirecionarParaExclusao(usuario.id)" class="excluir-btn">Excluir</button>
    <hr>
  </div>

  <button class="novo-usuario-btn" (click)="redirecionarParaNovoUsuario()">Adicionar Novo Usuário</button>
</div>