<header class="navbar">
  
  <img 
    routerLink="/secao-administrativa"
    class="logo" 
    src="assets/ledes_logo.png" 
    alt="logo">
  
  <nav class="navegacoes">
      <a routerLink="/home">HOME</a> 
      <a routerLink="/lista-projetos">PROJETOS</a> 
      <a routerLink="/lista-noticias">NOTÍCIAS</a> 
      <a routerLink="/membros">MEMBROS</a> 
      <a routerLink="/sobrenos">SOBRE NÓS</a> 
  </nav>
  
  <div class="login">
    <a 
      *ngIf="!logado"
      routerLink="/login">LOGIN</a> 
    
      <button 
        (click)="sair()"
        *ngIf="logado"
        routerLink="/login">SAIR</button> 
  </div>

</header>
