.navbar{
  align-items: center;
  justify-content: space-around;
  background-color: #0099CB;
  color:#fff
}

.navbar .logo{
  max-width: 12%;
  margin-left: 5rem;
}

.navbar .login{
  justify-content: end;
}

.navbar a{
  margin-left: 5rem;
  font-weight: bold;
}