.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0099CB;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.navbar .logo{
  max-width: 95px;
  margin-left: 4rem;
}

.navbar .login{
  margin-right: 5rem;
}

.navbar a{
  margin-left: 5rem;
  font-weight: bold;
}